:root {
  --purple-light: #6f00ff;
  --purple-dark: #2A0944;;
  --purple: #561c83;
  --black: #110f11;

  --colour-text-body: var(--black);
  --colour-text-heading: var(--purple);
  --colour-text-heading-alt: var(--purple-dark);
  --colour-text-heading-main: var(--purple-light);
  --colour-text-link: var(--purple);
  --colour-text-link-hocus: var(--purple-light);
}

html {
  color: var(--colour-text-body);
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.75;
}

#wrap {
  width: 85vw;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav, header {
  flex: 0 0 100%;
}

nav {
  position: relative;
  padding: 1rem 0 1.75rem;
  margin-bottom: 1.5rem;
}

nav .logo {
  font-weight: 800;
  color: var(--colour-text-link-hocus);
  font-size: 1.25rem;
}

nav:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
  border-bottom: solid 0.1rem var(--purple);
}

main {
  flex: 0 1 66%;
}

aside {
  flex: 0 0 22%;
}

h1 {
  color: var(--colour-text-heading-main);
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.25;
  margin: 0.5em 0 0;
}

h2, h3, h4, strong {
  font-weight: 700;
}

h2 {
  color: var(--colour-text-heading);
  font-size: 1.575rem;
  font-weight: 500;
  line-height: 1.35;
  margin: 1.5em 0 0.75em;
}

h3 {
  color: var(--colour-text-heading-alt);
  font-size: 1.225rem;
  line-height: 1.5;
  margin: 1.25em 0 0.5em;
}

h4 {
  color: var(--colour-text-heading);
  font-size: 1.125rem;
  font-weight: 500;
  margin: 1em 0 0.25em;
}

a {
  color: var(--colour-text-link);
  font-weight: 500;
}

a:hover, a:focus {
  color: var(--colour-text-link-hocus);
}

p {
  margin: 0.75em 0;
}

h2 + p, h3 + p, h4 + p {
  margin-top: 0;
}

main ul > li {
  margin: 0.5em 0;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote {
  font-weight: 200;
  font-style: italic;
  font-size: 1.325rem;
  margin: 1em 0.5em 1em 1.5em;
  color: var(--colour-text-heading);
}